.Post{
    margin-bottom: 10px;
}

.Copy{
    font-family: 'Montserrat', sans-serif;
    margin: 0 15px 15px;
    padding-top: 18px;
}

.Title{
    font-size: 17px;
    font-weight: 700;

}

.Level{
    font-size: 15px;
    font-weight: 500;
}

.Time{
    font-style: italic;
    font-weight: 400;
}

.Image{
    width: 100%;
}

.Sendoff{
    margin: 10px 15px 25px;
}

hr{
    border: solid 1px #f3f1ed;
}